/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* COMMON */
.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

body {
    background-color: #f6f8f9;
}

.mt-2 {
    margin-top: 2em;
}

.ptl-2 {
    padding-top: 30px;
    padding-left: 40px;
}

/* HEADER */
header {
    height: 100px;
    line-height: 100px;
    padding-left: 2%;
    background-color: white;
}

#logo-image {
    vertical-align: middle;
}

#logo-text {
    color: #041931;
    font-size: 3em;
    font-weight: 700;
    vertical-align: middle;    
}

/* NAV */
nav .container {
    padding: 20px 0px 20px 40px;
}

#task-button, #section-button {
    padding: .7%;
    border-radius: 5px;
    border-style: solid;
}

#task-button {
    background-color: #47adf1;
    color: white;
    border-width: 1px;
    border-color: #47adf1;
}

#section-button {
    background-color: white;
    color: rgba(0, 0, 0, .7);
    border-width: 1px; 
}

/* MAIN */
main .container {
    margin-top: 2px;
}

main ul {
    list-style: none;
}

main li {
    padding-top: .5em;
    vertical-align: middle;
}

.checkmark {
    color: #76c8b5;
    border-width: 1px;
    border-style: solid;
    border-color: #76c8b5;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
    line-height: 16px;
    margin-right: 1em;
    font-size: 12px;
    vertical-align: middle;
    font-weight: bold;
}

.label {
    background-color: #45abea;
    color: white;
    
}